
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.Login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: maroon;
}

h1 {
  color: gold;
  font-size: 5em;
  padding-bottom: 20px;
}

.Login-button {
  scale: 2;
}
