

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #611E1E;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover {
    color: #565656;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;

    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}




